.products{
    padding: 0rem 3rem /* 20/10 */;
    h1{
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        color: #FFFFFF;
        margin: 3rem 0rem;
    }

    .col{
        background: #1B1F24;

        width: 33rem;
        height: 13.3rem;
        border: 1px solid #3F4449;
        border-radius:  2rem;
        display: flex;
        align-items: center;
        padding: 2rem;
        img{
          margin-right: 20px;
        }
        span{
            color: #CECECE;
            font-size: 1.6rem;
        }
        .num{
            color: #fff;
            font-family: 'Kanit';
            font-style: normal;
            font-weight: 500;
            font-size: 2.6rem;
            margin-top: 10px;
        }

      }

      .glp{
        border-top: 1px solid #3F4449;
        margin-top: 5rem;
        .card{
            background: #1B1F24;
            border-radius: 20px;
            border: 1px solid #323736;
            width: 46rem;
            // height: 45.8rem;
            .title{
              display: flex;
              align-items: center;
              padding: 2rem;
              height: 10rem;
              border-bottom: 1px solid #323736;

              .strongbox{
                background: #252A31;
                border-radius: 12px;
                padding: 1.5rem;
                margin-right: 2rem;
              }
              span{
                font-weight: 500;
                font-size: 30px;
              }
            }
            .content{
              padding: 2rem;
              .row{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                background: #252A31;
                padding: 1.2rem;
                border: 0.5px solid #323736;
                border-radius: 20px;
                .descNumber{
                  .desc{
                    font-family: 'Kanit';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.2rem;
                    color: #CECECE;
                  }
                  .number{
                    color: #CECECE;
                    font-weight: 600;
                    font-size: 2.2rem;
                  }
                }
              }
            }
          }
      }
}
